@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #141414;
  color: #FBFBFB;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

/* Nav */
nav {
  background-color: #0B0B0B;
  height: 80px;
}

.nav-brand {
  float: left;
  padding-right: 15px;
}

img {
  margin-top: 15px;
  width: 110px;
}

li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

a {
  border-radius: 3px;
  color: #fff;
  font-size: 0.9rem;
  padding: 7px 10px;
}

iframe {
  border-radius: 6px;
  margin: 1.5rem 7px;
  width: 18rem;
}

.check-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
}

#check {
  display: none;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

footer {
  background-color: #0B0B0B;
  height: 70px;
  margin-top: 4rem;
  padding-top: 1.8rem;
  text-align: center;
}

/* Media Queries */
@media (max-width: 950px) {
  .nav-brand {
    padding-left: 25px;
  }

  .check-btn {
      display: block;
  }

  ul {
      background-color: #141414;
      height: 100vh;
      left: -100%;
      position: fixed;
      text-align: center;
      top: 80px;
      transition: all .5s;
      width: 100%;
  }

  li {
      display: block;
      line-height: 30px;
      margin: 50px 0;
  }

  a {
    font-size: 1.3rem;
  }

  a:hover, a.active {
      background: none;
      color: rgb(219, 219, 219);
  }

  #check:checked ~ ul {
      left: 0;
  }
}